/* 모든 화면 */
html,
body,
div {
	margin: 0;
	padding: 0;
	border: none;
	font-family: '새굴림';
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border: 3px solid #ffffff;
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-thumb {
	height: 50px;
	width: 50px;
	background: rgba(74, 71, 10,0.8);
}
a,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #4a470a;
}
.asideHeader > ul > li > a:hover {
	text-decoration: none;
	color: #ffffff;
}
.asideHeader {
		position: fixed;
		top: 0;	left: 0;
		margin: 0;
		padding: 30px;
		background-color: #e0d821;
		color: #4a470a;
		font-weight: bold;
		z-index: 100;
	}
/* 큰 화면 */
@media screen and (min-width:998px) {
	h2 {
		margin-top: 0px;
	}
	span {
		font-size: 20px;
		font-weight: bold;
	}
	input[type="text"],
	input[type="password"] {
		margin-top: 10px;
		border: 1px solid #4a470a;
		outline: none;
		padding: 10px;
		width: 200px;
		height: 30px;
		font-size: 15px;
		text-align: center;
		color: #4a470a;
	}
	select {
		margin-top: 10px;
		border: 1px solid #4a470a;
		outline: none;
		padding: 0 40px;
		width: 222px;
		height: 50px;
		font-size: 15px;
		text-align: center;
		color: #4a470a;
		-webkit-appearance: none; /* 네이티브 외형 감추기 */
		-moz-appearance: none;
		appearance: none;
	}
	input[type="file"] {
		margin-top: 10px;
		margin-bottom: 5px;
	}
	input[type="button"],
	input[type="submit"] {
		margin-top: 10px;
		border: none;
		width: 222px;
		height: 51px;
		padding: 10px;
		font-size: 15px;
		background-color: #4a470a;
		color: #ffffff;
	}
	.checks {
		position: relative;
		display: inline-block;
		margin-bottom: 5px;
	}
	.checks input[type="radio"] {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip:rect(0,0,0,0);
		border: 0;
	}
	.checks input[type="radio"] + label {
		display: inline-block;
		position: relative;
		padding-left: 30px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	.checks input[type="radio"] + label:before {
		content: '';
		position: absolute;
		left: 4px;
		top: 4px;
		width: 15px;
		height: 15px;
		text-align: center;
		background: #fafafa;
		border: 1px solid #cacece;
		border-radius: 100%;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	}
	.checks input[type="radio"] + label:active:before,
	.checks input[type="radio"]:checked + label:active:before  {
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}
	.checks input[type="radio"]:checked + label:before {
		background: #e9ecee;
		border-color: #adb8c0;
	}
	.checks input[type="radio"]:checked + label:after {
		content: '';
		position: absolute;
		top: 8px;
		left: 8px;
		width: 9px;
		height: 9px;
		background: #4a470a;
		border-radius: 100%;
		box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	}
	.asideHeader {
		width: 140px;
		height: 100%;
	}
	.asideHeader > a {
		font-size: 40px;
	}
	.asideHeader > ul > li > a {
		font-size: 18px;
	}
	.headerNav {
		margin-top: 50px;
		margin-left: -5px;
		margin-right: -10px;
		height: 50px;
		font-size: 18px;
	}
	.asideHeader ul {
		padding-left: 0;
		list-style-type: none;
		text-align: center;
	}
	.asideHeader ul li {
		padding-top: 20px;
	}
	.headerNav > a {
		padding: 5px;
	}
	footer {
		margin-top: 10px;
		border-top: 1px solid #000000;
		height: 50px;
		color: #000000;
		text-align: center;
	}
	.containor {
		position: relative;
		margin-left: 200px;
		max-width: 960px;
	}
	.mainContents {
		position: relative;
		padding: 40px;
		width: 100%;
		color: #4a470a;
	}
	.login {
		margin-top: 20px;
		text-align: center;
		font-size: 18px;
	}
	.signup_form {
		text-align: center;
	}
	.about {
		text-align: center;
	}
}
/* 작은 화면 */
@media screen and (max-width:997px) {
	h2 {
		margin-top: 0px;
	}
	span {
		font-size: 20px;
		font-weight: bold;
	}
	input[type="text"],
	input[type="password"] {
		margin-top: 10px;
		border: 1px solid #4a470a;
		outline: none;
		padding: 10px;
		width: 200px;
		height: 30px;
		font-size: 15px;
		text-align: center;
		color: #4a470a;
	}
	select {
		margin-top: 10px;
		border: 1px solid #4a470a;
		outline: none;
		padding: 0 40px;
		width: 222px;
		height: 50px;
		font-size: 15px;
		text-align: center;
		color: #4a470a;
		-webkit-appearance: none; /* 네이티브 외형 감추기 */
		-moz-appearance: none;
		appearance: none;
	}
	input[type="file"] {
		margin-top: 10px;
		margin-bottom: 5px;
	}
	input[type="button"],
	input[type="submit"] {
		margin-top: 10px;
		border: none;
		width: 222px;
		height: 51px;
		padding: 10px;
		font-size: 15px;
		background-color: #4a470a;
		color: #ffffff;
	}
	.checks {
		position: relative;
		display: inline-block;
		margin-bottom: 5px;
	}
	.checks input[type="radio"] {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip:rect(0,0,0,0);
		border: 0;
	}
	.checks input[type="radio"] + label {
		display: inline-block;
		position: relative;
		padding-left: 30px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	.checks input[type="radio"] + label:before {
		content: '';
		position: absolute;
		left: 4px;
		top: 4px;
		width: 15px;
		height: 15px;
		text-align: center;
		background: #fafafa;
		border: 1px solid #cacece;
		border-radius: 100%;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	}
	.checks input[type="radio"] + label:active:before,
	.checks input[type="radio"]:checked + label:active:before  {
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}
	.checks input[type="radio"]:checked + label:before {
		background: #e9ecee;
		border-color: #adb8c0;
	}
	.checks input[type="radio"]:checked + label:after {
		content: '';
		position: absolute;
		top: 8px;
		left: 8px;
		width: 9px;
		height: 9px;
		background: #4a470a;
		border-radius: 100%;
		box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	}
	.asideHeader {
		width: 100%;
		height: 100px;
	}
	.asideHeader > a {
		font-size: 40px;
	}
	.asideHeader > ul > li > a {
		font-size: 18px;
	}
	.headerNav {
		margin-top: 50px;
		margin-left: -5px;
		margin-right: -10px;
		height: 50px;
		font-size: 18px;
	}
	.asideHeader ul {
		padding-left: 0;
		list-style-type: none;
		text-align: center;
	}
	.asideHeader ul li {
		padding-top: 20px;
	}
	.headerNav > a {
		padding: 5px;
	}
	footer {
		margin-top: 10px;
		border-top: 1px solid #000000;
		height: 50px;
		color: #000000;
		text-align: center;
	}
	.containor {
		position: relative;
		margin-left: 200px;
		max-width: 960px;
	}
	.mainContents {
		position: relative;
		padding: 40px;
		width: 100%;
		color: #4a470a;
	}
	.login {
		margin-top: 20px;
		text-align: center;
		font-size: 18px;
	}
	.signup_form {
		text-align: center;
	}
	.about {
		text-align: center;
	}
}